*:root {
  --font-family: 'Public Sans', sans-serif;

  --fs-small-100: 0.75rem;
  --fs-small-200: 0.875rem;
  --fs-regular: 1rem;
  --fs-large-100: 1.25rem;
  --fs-large-200: 2rem;

  --white: #fff;
  --beige-100: #f8f4f0;
  --beige-500: #98908b;
  --grey-100: #f2f2f2;
  --grey-300: #b3b3b3;
  --grey-500: #696868;
  --grey-900: #201f24;
  --green-300: #277c78;
  --yellow-300: #f2cdac;
  --cyan: #82c9d7;
  --navy: #626070;
  --navy-grey: #97a0ac;
  --red-300: #c94736;
  --purple-100: #af81ba;
  --purple-300: #826cb0;
  --turquoise: #597c7c;
  --brown: #93674f;
  --magenta: #934f6f;
  --blue-300: #3f82b2;
  --army-green: #7f9161;
  --gold: #cab361;
  --orange: #be6c49;
}

:focus {
  outline: transparent;
  /* box-shadow: 0 0 0 2px var(--green-300); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background: var(--beige-100);
  color: var(--grey-900);
  -webkit-font-smoothing: antialiased;
}
body,
imput,
textarea,
button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.6;
}

.fs-small-100 {
  font-size: 0.75rem;
}
.fs-small-200 {
  font-size: 0.875rem;
}
.fs-regular {
  font-size: 1rem;
}
.fs-large-100 {
  font-size: 1.25rem;
}
.fs-large-200 {
  font-size: 2rem;
}

html {
  font-size: 75%;
}

h1 {
  grid-column: span 12;
}

h2 {
  font-size: var(--fs-large-100);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

main {
  padding: 2.5rem;
}

main a {
  text-decoration: none;
}

a span {
  vertical-align: middle;
}

a .phFill {
  vertical-align: middle;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  padding-top: 2rem;
}

.grid section {
  background-color: var(--white);
  border-radius: 12px;
  grid-column: span 12;
  padding: 2rem;
}

.content-header a {
  vertical-align: middle;
  font-size: var(--fs-small-200);
  color: var(--grey-500);
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.beige-box {
  background-color: var(--beige-100);
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  flex: 1;
  border-radius: 12px;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-wrap p {
  line-height: 1.8;
}

.logo {
  max-width: 200px;
  padding-inline: 2rem;
  padding-block: 2.5rem;
}

.menu {
  border-radius: 5px 5px 0 0;
  background-color: var(--grey-900);
  grid-row: 2;
  align-self: flex-end;
}

.menu nav span {
  display: none;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  justify-content: space-around;
  padding-top: 0.5rem;

  /* gap: 1rem; */
}

.menu > :last-child,
.menu > :first-child {
  display: none;
}

.menu .phFill {
  font-size: 24px;
}

.menu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  color: var(--grey-300);
  padding: 0.5rem 0.5rem 0.75rem 0.5rem;
  position: relative;
}

.menu a.active::after,
.menu a:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--green-300);
}

.menu a:hover,
.menu a.active,
.menu a.active .phFill {
  color: var(--grey-900);
  background-color: var(--beige-100);
  border-radius: 5px 5px 0 0;
}

.menu a:hover .phFill,
.menu a.active .phFill {
  color: var(--green-300);
}

.budgets .budget {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 0.5rem;
  flex: 1;
}

@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}
@media (min-width: 769px) {
  .wrapper {
    /* max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;
   */

    grid-template-columns: 20rem 1fr;
    min-height: 100vh;
  }

  .menu {
    grid-row: 1;
    /* height: 100vh; */
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    border-radius: 0 15px 15px 0;
  }

  .menu a {
    flex-direction: row;
    gap: 1rem;
    padding-inline: 2rem;
    padding-block: 1rem;
    margin-left: 1px;
    margin-right: 2rem;
  }

  .menu a.active::after,
  .menu a:hover::after {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 4px;
  }

  .menu a:hover,
  .menu a.active {
    border-radius: 0 15px 15px 0;
  }

  .menu ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .menu > :last-child,
  .menu > :first-child {
    display: flex;
  }

  .menu > :last-child {
    margin-top: auto;
    margin-bottom: 24px;
  }

  .overview .pots {
    grid-column: span 7;
  }

  .overview .transactions {
    grid-column: span 7;
    order: 6;
  }
  .overview .budgets {
    grid-column: span 5;
    order: 5;
  }
  .overview .bills {
    grid-column: span 5;
    order: 7;
  }
}

@media (min-width: 481px) {
  .menu nav span {
    display: block;
  }

  section.summary {
    grid-column: span 4;
  }

  .budgets .budget {
    grid-template-columns: repeat(
      auto-fit,
      minmax(100px, 1fr)
    ); /* Flexible columns */
  }
}
