.total-saved .ph-light {
  color: var(--green-300);
  font-size: 40px;
}

.savings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex: 1;
  align-items: center;
  gap: 0.5rem;
}

.savings .text-wrap {
  padding-left: 1rem;
}

.pots .content {
  gap: 2rem;
  flex-wrap: wrap;
}

.savings div:nth-child(1) {
  border-left: solid 4px var(--green-300);
}

.savings div:nth-child(2) {
  border-left: solid 4px var(--cyan);
}

.savings div:nth-child(3) {
  border-left: solid 4px var(--navy);
}

.savings div:nth-child(4) {
  border-left: solid 4px var(--yellow-300);
}
